.obs-plugin-shiori-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.obs-plugin-shiori-field input,
.obs-plugin-shiori-field textarea {
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  border: var(--border-width) solid var(--color-base-50);
  background: var(--background-primary);
  color: var(--text-normal);
  box-shadow: none !important;
  min-height: 36px;
  max-width: 100%;
  font-size: 14px;

  &:hover {
    background: none;
  }
}

.obs-plugin-shiori-field textarea {
  min-height: 80px;
}

.obs-plugin-shiori-date-input {
  display: flex;
  align-items: center;
  gap: 8px;
}